
.main_container{
  display: grid;
  grid-template-columns: 370px auto auto;
  grid-template-rows: 80px auto auto ;
  grid-template-areas: "nav nav nav"
                        "aside main main";
  height: 100vh;
  /* border: 1px solid red; */
}
.navbar{
  grid-area: nav;
  display: flex;
  padding:5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;  /* border: 1px solid blue; */
}
.sidebar{
  grid-area: aside;
  display: flex;
  background-color: rgba(236, 234, 234, 0.724);
  flex-direction: column;
  /* border: 1px solid blue; */
}
.mainbar{
  overflow: auto;
  background-color: rgba(236, 234, 234, 0.724);
  grid-area: main;
  display: flex;
  /* border: 1px solid blue; */
}
